@page "/"

<Allegiance.Blazor.NoUiSlider.Components.NoUiSlider Configuration="Config" @bind-Value="myValue"></Allegiance.Blazor.NoUiSlider.Components.NoUiSlider>
<p>@myValue</p>
<button @onclick="Change">Change</button>

@code{
    private double myValue = 20;
    public Allegiance.Blazor.NoUiSlider.Models.NoUiSliderConfiguration<double> Config = new Models.NoUiSliderConfiguration<double>
    {
        Connect = true,
        Start = 10,
        Range = new Models.Range<double>
        {
            Max = 100,
            Min = 0
        }
    };

    public void Change()
    {
        Config.Range.Max = 300;
    }
}