
<Allegiance.Blazor.NoUiSlider.Components.RangeNoUiSlider.NoUiRangeSlider Configuration="Configs" @bind-StartValue="rangeValue[0]" @bind-EndValue="rangeValue[1]" Class="tertiary"/>
<p>Start of range: <input @bind-value="@rangeValue[0]" /></p>
<br />
<p>End of range: <input @bind-value="@rangeValue[1]" /></p>
<br />
<button @onclick="Change">Change</button>
