<Allegiance.Blazor.NoUiSlider.Core.SingleNoUiSlider.NoUiSlider Configuration="Config" @bind-StartValue="myValue" Disabled="@disabled" Class="slider-tooltip-touch" />

<div class="w-50">
    <MudBlazor.MudNumericField Label="Slider Input" T="double" @bind-Value="myValue" Class="mb-4" Style="width: 50%" HideSpinButtons="true" Variant="MudBlazor.Variant.Outlined" Margin="MudBlazor.Margin.Dense"/>
    <MudBlazor.MudNumericField Label="Slider Step" T="double" Value="Config.Step" ValueChanged="ChangeStep" Style="width: 50%" Variant="MudBlazor.Variant.Outlined" Margin="MudBlazor.Margin.Dense" />
</div>
<div class="align-center d-flex mt-4">
    <MudBlazor.MudCheckBox @bind-Checked="disabled" Label="Disable Slider" LabelPosition="MudBlazor.LabelPosition.End"/>
</div>
<br />
<Allegiance.Blazor.NoUiSlider.Core.SingleNoUiSlider.NoUiSlider Configuration="Config2" @bind-StartValue="myValue2" Class="secondary" />
<br />
<MudBlazor.MudNumericField Label="Slider Input" T="double" @bind-Value="myValue2" Style="width: 25%" HideSpinButtons="true" Variant="MudBlazor.Variant.Outlined" Margin="MudBlazor.Margin.Dense" />
<br />
<MudBlazor.MudButton OnClick="Change" Variant="MudBlazor.Variant.Filled" Color="MudBlazor.Color.Primary">Change</MudBlazor.MudButton>


@*<Allegiance.Blazor.NoUiSlider.Components.Test.TestBlazor @bind-Test="myValue3" />
    <input @bind-value="myValue3" />
    <input @bind-value="myValue4" />*@

@*@code{
       public double myValue3 { get; set; }
       public double myValue4 { get; set; }
    }*@