
<Allegiance.Blazor.NoUiSlider.Components.SingleNoUiSlider.NoUiSlider Configuration="Config" @bind-StartValue="myValue" />
<br />
<input @bind-value="myValue" />
<br />
<Allegiance.Blazor.NoUiSlider.Components.SingleNoUiSlider.NoUiSlider Configuration="Config2" @bind-StartValue="myValue2" />
<br />
<input @bind-value="myValue2" id="inputformat"/>
<br />
<button @onclick="Change">Change</button>

@*<Allegiance.Blazor.NoUiSlider.Components.Test.TestBlazor @bind-Test="myValue3" />
<input @bind-value="myValue3" />
<input @bind-value="myValue4" />*@

@*@code{ 
    public double myValue3 { get; set; }
    public double myValue4 { get; set; } 
 }*@
