
<Allegiance.Blazor.NoUiSlider.Components.SingleNoUiSlider.NoUiSlider Configuration="Config" @bind-StartValue="myValue" />
<br />
<input @bind-value="myValue" />
<br />
<Allegiance.Blazor.NoUiSlider.Components.SingleNoUiSlider.NoUiSlider Configuration="Config2" @bind-StartValue="myValue2" Class="secondary"/>
<br />
<input @bind-value="myValue2"/>
<br />
<button @onclick="Change">Change</button>
