<Allegiance.Blazor.NoUiSlider.Components.SingleNoUiSlider.NoUiSlider Configuration="Config" @bind-StartValue="MyValue" Disabled="@disabled" />

<br />
<input @bind-value="MyValueInput" @oninput="ChangeConfig" />
<br />
<br />
<input @bind-value="Config.Step" />
<br />
<br />
<input type="checkbox" @onclick="@(() => Disable())" /><span>   Select to disable slider handle...</span>
<input type="checkbox" @onclick="@(() => Enable())" /><span>   Select to enable slider handle...</span>
<br />
<Allegiance.Blazor.NoUiSlider.Components.SingleNoUiSlider.NoUiSlider Configuration="Config2" @bind-StartValue="myValue2" Class="secondary" />
<br />
<input @bind-value="myValue2" />
<br />
<button @onclick="Change">Change</button>


@*<Allegiance.Blazor.NoUiSlider.Components.Test.TestBlazor @bind-Test="myValue3" />
    <input @bind-value="myValue3" />
    <input @bind-value="myValue4" />*@

@*@code{
       public double myValue3 { get; set; }
       public double myValue4 { get; set; }
    }*@