.noUi-tooltip {
  top: auto !important;
  left: -40px;
  min-width: 100px;
  bottom: 24px !important;
  border-radius: 30px;
  color: white;
  border-radius: 30px;
  background-color: #207dce; }

.noUi-handle:after, .noUi-handle:before {
  display: none; 
}

.noUi-horizontal {
  height: 8px;
  margin: 55px 0px; 
}

.noUi-horizontal .noUi-handle {
background: #207dce;
border: none;
width: 20px;
height: 20px;
box-shadow: none;
border-radius: 30px;
top: -7px;
cursor: pointer;
z-index: 10; 
right: -10px;
}

.noUi-horizontal .noUi-handle:focus {
    outline: none; }

.noUi-connect {
  background: #207dce; }
  .noUi-connect .noUi-tooltip {
    background-color: #207dce; }

.noUi-touch-area:focus {
  outline: none; }

#assets-liabilities-container #slider-expenses {
  background: #EA6868; }

#assets-liabilities-container #slider-expenses .noUi-tooltip {
  background-color: #EA6868; }

#assets-liabilities-container #slider-expenses .noUi-handle {
  background: #EA6868; }
