
.noUi-tooltip {
    top: auto !important;
    left: -40px;
    min-width: 100px;
    bottom: 24px !important;
    border-radius: 30px;
    color: white;
    border-radius: 30px;
    background-color: #207dce;
}

.noUi-handle:after, .noUi-handle:before {
    display: none;
}

.noUi-horizontal {
    height: 5px;
    margin: 55px 0px;

    .noUi-handle {
        background: #207dce;
        border: none;
        width: 20px;
        height: 20px;
        box-shadow: none;
        border-radius: 30px;
        top: -9px;
        cursor: pointer;
        z-index: 10;

        &:focus {
            outline: none;
        }
    }
}

.noUi-connect {
    .noUi-tooltip {
        background-color: #207dce;
    }

    background: #207dce;
}

[disabled] .noUi-connect {
    background: #207dce;
}

[disabled] .noUi-touch-area, [disabled] .noUi-tooltip, [disabled].noUi-target {
    cursor: wait;
}

.noUi-touch-area:focus {
    outline: none;
}

.noUi-connects {
    background: #999;
}

.secondary.noUi-horizontal {

    .noUi-base {
        background-color: #EA6868
    }

    .noUi-tooltip {
        background-color: #EA6868;
    }

    .noUi-handle {
        background-color: #EA6868;
    }

    .noUi-connect {
        .noUi-tooltip {
            background-color: #EA6868;
        }

        background-color: #EA6868;
    }
}

.tertiary.noUi-horizontal {

    .noUi-tooltip {
        background-color: #00C08C;
    }

    .noUi-handle {
        background-color: #00C08C;
    }

    .noUi-connect {
        .noUi-tooltip {
            background-color: #00C08C;
        }

        background-color: #00C08C;
    }
}

.tertiary.noUi-horizontal {
    .c-0-color {
        background-color: #00C08C;
    }

    .c-1-color {
        background-color: #207dce;
    }

    .c-2-color {
        background-color: #EA6868;
    }
}

.disable-handle {
    cursor: wait;

    .noUi-touch-area {
        cursor: wait;
    }

    .noUi-tooltip {
        cursor: wait;
    }
}
