:root {
  --primary-color: #207DCE;
  --primary-color-darken: #15538a;
  --on-primary-color: #fff;
  --secondary-color: #207DCE;
  --on-secondary-color: #fff;
  --tertiary-color: #207dce;
  --on-tertiary-color: #fff;
  --quaternary-color: #e77753;
  --on-quaternary-color: #fff;
  --quinary-color: #00C08C;
  --on-quinary-color: #fff;
  --senary-color: #588dcc;
  --on-senary-color: #fff;
  --septenary-color: #4067a0;
  --on-septenary-color: #fff;
  --octonary-color: #61c4b1;
  --on-octonary-color: #fff;
  --nonary-color: #2ea08a;
  --on-nonary-color: #fff;
  --denary-color: #52c3c5;
  --on-denary-color: #fff;
  --white-grey-color: #F0F1F4;
  --light-grey-color: #707070;
  --dark-grey-color: #424757;
  --warn-color: #EA6868;
  --warn-hover-color: #c14b4b;
  --on-warn-color: #fff;
  --background-primary-color: #F6FBFF;
  --background-color: #FFF;
  --on-background-color: #121212;
  --background-accent-color: #F6FBFF;
  --on-background-accent-color: #4e4e4e;
  --primary-h1-color: var(--dark-grey-color);
  --primary-h2-color: var(--dark-grey-color);
  --primary-h3-color: var(--dark-grey-color);
  --primary-h4-color: var(--dark-grey-color);
  --primary-h5-color: var(--dark-grey-color);
  --secondary-h1-color: var(--secondary-color);
  --secondary-h2-color: var(--secondary-color);
  --secondary-h3-color: var(--secondary-color);
  --secondary-h4-color: var(--secondary-color);
  --secondary-h5-color: var(--secondary-color);
  --tertiary-h1-color: var(--tertiary-color);
  --tertiary-h2-color: var(--tertiary-color);
  --tertiary-h3-color: var(--tertiary-color);
  --tertiary-h4-color: var(--tertiary-color);
  --tertiary-h5-color: var(--tertiary-color);
  --quaternary-h1-color: var(--quinary-color);
  --quaternary-h2-color: var(--quinary-color);
  --quaternary-h3-color: var(--quinary-color);
  --quaternary-h4-color: var(--quinary-color);
  --quaternary-h5-color: var(--quinary-color);
  --primary-textfield-border-color: var(--light-grey-color);
  --primary-textfield-border-hover-color: var(--dark-grey-color);
  --primary-textfield-border-focus-color: var(--primary-color);
  --primary-textfield-text-color: var(--dark-grey-color);
  --primary-slide-toggle-color: var(--primary-color);
  --secondary-slide-toggle-color: var(--white-grey-color);
  --tertiary-slide-toggle-color: var(--light-grey-color);
  --primary-chart-color: var(--secondary-color);
  --secondary-chart-color: var(--warn-color);
  --tertiary-chart-color: #6eb3ed;
  --tertiary-chart-opaque-color: rgba(110, 179, 237, 0.6);
  --quaternary-chart-color: #588dcc;
  --quaternary-chart-opaque-color: rgba(88, 141, 204, 0.6);
  --quinary-chart-color: #4067a0;
  --senary-chart-color: #2ea08a;
  --septenary-chart-color: #ea6868;
  --octonary-chart-color: #424242;
  --nonary-chart-color: #FF9944;
  --denary-chart-color: #207dce;
  --undecimary-chart-color: #FED56B;
  --duodenary-chart-color: #61c4b1;
  --rag-green-chart-color: #00c08c;
  --rag-amber-chart-color: #FF9944;
  --rag-red-chart-color: var(--warn-color);
  --primary-background-chart-color: #FFF;
  --secondary-background-chart-color: #F2F2F2;
  --grid-line-chart-color: var(--on-background-color);
  --chart-red-color: #EA6868;
  --chart-amber-color: #FF9944;
  --chart-green-color: #00c08c;
  --chart-grid-line-color: var(--on-background-color);
  --chart-lifestyle-color: #6eb3ed;
  --chart-retirement-color: #588dcc;
  --chart-discretionary-color: #4067a0;
  --chart-business-color: #61C4B1;
  --chart-property-color: #2EA08A;
  --chart-debt-color: var(--chart-red-color);
  --chart-tax-color: #424242;
  --chart-shortfall-color: var(--chart-amber-color);
  --chart-net-provided-color: var(--primary-color);
  --chart-tax-unused-color: var(--chart-amber-color);
  --wealth-map-lifestyle-color: var(--chart-lifestyle-color);
  --wealth-map-retirement-color: var(--chart-retirement-color);
  --wealth-map-discretionary-color: var(--chart-discretionary-color);
  --wealth-map-business-color: var(--chart-business-color);
  --wealth-map-property-color: var(--chart-property-color);
  --wealth-map-debt-color: var(--chart-debt-color);
  --cash-flow-tax-color: var(--chart-tax-color);
  --cash-flow-shortfall-color: var(--chart-shortfall-color);
  --cash-flow-net-provided-color: var(--chart-net-provided-color);
  --income-snapshot-shortfall-color: var(--chart-shortfall-color);
  --income-snapshot-net-provided-color: var(--chart-net-provided-color);
  --tax-capacity-retirement-deductable-color: var(--primary-color);
  --tax-capacity-retirement-unused-color: var(--chart-tax-unused-color);
  --tax-capacity-retirement-non-deductable-color: var(--chart-red-color);
  --tax-capacity-tax-free-contribution-color: var(--primary-color);
  --tax-capacity-tax-free-unused-color: var(--chart-tax-unused-color);
  --tax-capacity-tax-free-contribution-taxable-color: var(--chart-red-color);
  --primary-slider-color: var(--secondary-color);
  --secondary-slider-color: var(--warn-color);
  --tertiary-slider-color: var(--quinary-color);
  --primary-button-color: var(--primary-color);
  --on-primary-button-color: var(--on-primary-color);
  --primary-button-hover-color: var(--tertiary-color);
  --secondary-button-color: var(--secondary-color);
  --on-secondary-button-color: var(--on-secondary-color);
  --secondary-button-hover-color: var(--secondary-color);
  --primary-sidenav-color: var(--tertiary-color);
  --on-primary-sidenav-color: var(--on-tertiary-color);
  --primary-sidenav-hover-color: var(--secondary-color);
  --primary-border-color: var(--light-grey-color);
  --primary-border-focus-color: var(--primary-color);
  --secondary-border-color: var(--dark-grey-color);
  --secondary-border-focus-color: var(--dark-grey-color);
  --primary-link-color: var(--primary-color);
  --primary-link-hover-color: var(--tertiary-color);
  --box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.5);
  --mdc-theme-primary: var(--primary-color) !important;
  --mdc-theme-secondary: var(--secondary-color);
  --mb-scroll-color: var(--primary-color);
  --mdc-segmented-button-selected-ink-color: var(--on-primary-color);
  --mdc-segmented-button-selected-container-fill-color: var(--primary-color);
  --mdc-ripple-color: var(--primary-color);
  --mdc-theme-error: var(--warn-color);
  --mud-palette-primary: var(--primary-color) !important;
  --mud-palette-primary-darken: var(--primary-color-darken) !important;
  --mud-palette-secondary: var(--secondary-color) !important;
  --mud-palette-action-default: var(--primary-color) !important; }
